[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
pycodestyle = "*"
mypy = "*"
pytest = "*"

[packages]
flask = "*"
flask-openid = "*"
flask-wtf = "*"

[requires]
python_version = "3.7"
