[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask-mongoengine = "*"
gunicorn = "*"
mongoengine = "*"
Flask = "*"
Flask-Login = "*"
Flask-Script = "*"
Flask-WTF = "*"

[requires]
python_version = "3.7"
